.Page {
  background-color: #fff;
  padding: 2rem;
  width: min(95vw, 700px);
  max-width: 95vw;
  border-radius: 1rem;
  border-image: linear-gradient(to bottom, #211257 30%, #ffffff, #cee938) 30;
  border-width: 4px;
  border-style: solid;

  @media screen and (max-width: 600px) {
    padding: 1rem;
  }
}
.header {
  color: #504e4e;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  width: 100%;
  font-size: large;
  font-weight: 600;
  padding-bottom: 2rem;
  flex-direction: column;
  p {
    color: #ff671f;
    font-size: 1rem;
  }
  h1 {
    width: 80%;
    font-size: 3.5rem;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-image: linear-gradient(to bottom, #ff671f 30%, #ffffff, #128c43);
    @media screen and (max-width: 600px) {
      font-size: 2.8rem;
    }
  }
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;

  .form {
    width: 80%;
    display: flex;
    margin-bottom: 1rem;

    input[type="text"] {
      width: 100%;
      border: none;
      border-radius: 100svh 0 0 100svh;
      padding: 1rem;
      font-size: 1.2rem;
      outline: none;
      -webkit-border-radius: 100svh 0 0 100svh;
      -moz-border-radius: 100svh 0 0 100svh;
      -ms-border-radius: 100svh 0 0 100svh;
      -o-border-radius: 100svh 0 0 100svh;
      border: 1px solid #128c43;
    }

    input[type="submit"] {
      border: none;
      border-radius: 0 100svh 100svh 0;
      padding: 1rem;
      font-size: 1.2rem;
      outline: none;
      color: #fff;
      background-color: #128c43;
      cursor: pointer;
    }

    @media screen and (max-width: 600px) {
      width: 100%;
      flex-direction: column;
      gap: 0.5rem;

      input[type="text"] {
        border-radius: 100svh;
        text-align: center;
      }
      input[type="submit"] {
        border-radius: 100svh;
      }
    }
  }
}

.credit {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  a {
    color: #128c43;
  }
}
